<ion-header>
    <ion-toolbar>
      <ion-title>
        Create Your New Account
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <ion-card-content>
          <form>
              <ion-label>First Name</ion-label>
              <ion-input></ion-input>
              <ion-label>Last Name</ion-label>
              <ion-input></ion-input>
              <ion-label>Username</ion-label>
              <ion-input></ion-input>
              <ion-label>E-mail</ion-label>
              <ion-input type="E-mail"></ion-input>
              <ion-label>Password</ion-label>
              <ion-input type="Password"></ion-input>
              <ion-label>Re-type Password</ion-label>
              <ion-input type="Password"></ion-input>
              <ion-button color="primary">Sign Up</ion-button>
              <a style="text-decoration: none" href="">Already have an account?</a>
            </form>
      </ion-card-content>
    </ion-card>
  </ion-content>